[Unit]
Description=Vijdon User Bot Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/Iftixor/Bot/vijdon-user-bot
ExecStart=/root/Iftixor/Bot/vijdon-user-bot/venv/bin/python src/main.py
Restart=always
RestartSec=5
EnvironmentFile=/root/Iftixor/Bot/vijdon-user-bot/.env

[Install]
WantedBy=multi-user.target
