name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy to Server via SSH
      env:
        DEPLOY_KEY: ${{ secrets.SSH_KEY }}
        DEPLOY_HOST: ${{ secrets.SSH_HOST }}
        DEPLOY_USER: ${{ secrets.SSH_USER }}
        DEPLOY_PORT: ${{ secrets.SSH_PORT }}
      run: |
        mkdir -p ~/.ssh
        echo "$DEPLOY_KEY" | base64 -d > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -p $DEPLOY_PORT $DEPLOY_HOST >> ~/.ssh/known_hosts 2>/dev/null
        ssh -vvv -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=accept-new -p $DEPLOY_PORT $DEPLOY_USER@$DEPLOY_HOST "cd /root/Iftixor/Bot/vijdon-user-bot && git pull origin main && source venv/bin/activate.fish && pip install -r requirements.txt && systemctl restart vijdon-bot && echo 'Deployment successful!'"
