name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy to Server via SSH
      uses: appleboy/ssh-action@v1.6.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        debug: true
        script: |
          cd /root/Iftixor/Bot/vijdon-user-bot
          git pull origin main
          source venv/bin/activate.fish
          pip install -r requirements.txt
          systemctl restart vijdon-bot
          echo "Deployment successful!"
